.b07 {
	font-size: 11px;
	padding: 30px 0;

	.cert {
		position: relative;
		padding: 10px 30px;

		ul {
			position: relative;
		}

		li {
			outline: none;
			float: left;
			width: 25%;
			padding: 0 10px;
		}

		.cert-nav {
			top: 50%;
			cursor: pointer;
			font-size: 36px;
			line-height: 40px;
			margin-top: -20px;
			position: absolute;
			color: $color-green;

			&.prev {
				left: 0;
			}

			&.next {
				right: 0;
			}
		}
	}



	@media (min-width: $screen-sm-min) {

		font-size: 15px;

		.cert {
			padding: 20px 30px;

		}

	}
	@media (min-width: $screen-md-min) {

	}
}