.b04 {
	padding-top: 60px;
	padding-bottom: 30px;
	background: url("../img/b04_bg.jpg") 50% 0 no-repeat;
	background-size: cover;


	h2 {

		span {
			background: transparent;
			padding: 2px 5px;
			display: inline-block;
		}
	}

	.form-block {
		margin: 0 auto;
		max-width: 400px;
		background: #fff;
		padding: 15px 25px 5px 25px;
		@include box-shadow(0px 7px 20px 0px rgba(141, 141, 141, 0.5));

		.form-title {
			color: #000;
			font-size: 12px;
			font-weight: 400;
			text-align: center;
			margin: 0 -20px 10px -20px;
		}
	}


	@media (min-width: $screen-sm-min) {
		height: 696px;
		padding-top: 115px;

		h2 {
			margin-bottom: 100px;

			span {
				background: transparent;
				padding: 2px 5px;
				display: inline-block;
			}
		}

		.form-block {
			margin: 0;
			width: 100%;
			max-width: 100%;
			padding: 25px 25px 15px 25px;

			.form-title {
				font-size: 17px;
				margin-bottom: 20px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		padding-top: 160px;
		padding-bottom: 110px;
		background-size: auto;

		h2 {
			margin-bottom: 140px;

			span {
				background: transparent;
				padding: 2px 5px;
				display: inline-block;
			}
		}

		.form-block {
			margin: 0;
			width: 100%;
			max-width: 100%;
			padding: 35px 35px 25px 35px;

			.form-title {
				font-size: 23px;
				margin-bottom: 30px;
			}
		}
	}
}