@font-face {
	font-family:'MuseoSansCyrl';
	src: url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300_gdi.eot');
	src: url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300_gdi.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300_gdi.ttf') format('truetype'),
	url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300_gdi.otf') format('opentype'),
	url('../fonts/MuseoSansCyrl-300/MuseoSansCyrl-300_gdi.svg#MuseoSansCyrl-300') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'MuseoSansCyrl';
	src: url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500_gdi.eot');
	src: url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500_gdi.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500_gdi.ttf') format('truetype'),
	url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500_gdi.otf') format('opentype'),
	url('../fonts/MuseoSansCyrl-500/MuseoSansCyrl-500_gdi.svg#MuseoSansCyrl-500') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'MuseoSansCyrl';
	src: url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700_gdi.eot');
	src: url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700_gdi.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700_gdi.ttf') format('truetype'),
	url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700_gdi.otf') format('opentype'),
	url('../fonts/MuseoSansCyrl-700/MuseoSansCyrl-700_gdi.svg#MuseoSansCyrl-700') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}

@font-face {
	font-family:'MuseoSansCyrl';
	src: url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900_gdi.eot');
	src: url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900_gdi.woff') format('woff'),
	url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900_gdi.ttf') format('truetype'),
	url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900_gdi.otf') format('opentype'),
	url('../fonts/MuseoSansCyrl-900/MuseoSansCyrl-900_gdi.svg#MuseoSansCyrl-900') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2265;
}